html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
  height: 7rem;
  box-shadow: 0px 0px 15px 0px #a7a7a7;
}
.navigation__logo {
  height: 3.77rem;
  margin-left: 3rem;
}
.navigation__mainList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
.navigation__mainListItem {
  margin: 0 1.5rem;
}
.navigation__mainListItem a {
  text-decoration: none;
  color: #000;
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: 0.33rem;
}
.navigation__mainListItem a:hover {
  border-bottom: 0.2rem solid #000;
}
.navigation__secondaryList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 100%;
  padding: 0;
}
.navigation__secondaryListItem {
  margin: 0;
  width: 7.5rem;
  height: 100%;
  border-left: 0.1rem solid lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navigation__secondaryListItem a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: all 0.15s;
}
.navigation__secondaryListItem img {
  width: 2rem;
}
.navigation__secondaryListItem a:hover {
  background-color: #f7f7f7;
}

.searchbar {
  width: 100%;
  background-color: #000;
  position: fixed;
  z-index: 101;
  top: 7rem;
  border: none;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  height: 7rem;
  color: #fff;
  visibility: hidden;
}

::placeholder {
  color: #fff;
}

.shop__dropdown {
  position: fixed;
  top: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  height: 44rem;
  visibility: hidden;
}
.shop__dropdown .info {
  width: 30rem;
}
.shop__dropdown .info h3 {
  margin: 6rem 0 2.5rem 5rem;
  font-size: 1.3rem;
  opacity: 0.65;
  letter-spacing: 0.2rem;
  font-weight: 400;
}
.shop__dropdown .info__list {
  padding: 0;
  list-style: none;
  margin-left: 5rem;
}
.shop__dropdown .info__listItem {
  margin: 2rem 0;
}
.shop__dropdown .info__listItem a {
  text-decoration: none;
  font-size: 2.5rem;
  color: #000;
  opacity: 0.85;
}
.shop__dropdown .info__listItem a:hover {
  text-decoration: underline;
}
.shop__dropdown .image {
  background-color: #ededed;
  height: 100%;
  width: 35rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.shop__dropdown .image img {
  width: 30rem;
}

.footer {
  height: 11rem;
  border-top: 0.2rem solid #F8F8F8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer span {
  margin-left: 7rem;
  font-size: 1.5rem;
  opacity: 0.75;
}
.footer .emailInput {
  margin-right: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer .emailInput input {
  border: 0.1rem solid lightgray;
  border-right: none;
  height: 4.75rem;
  width: 25rem;
  padding: 0;
  font-size: 1.66rem;
  text-indent: 2rem;
}
.footer .emailInput a {
  background-color: #F0E50A;
  height: 5rem;
  width: 5.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer .emailInput img {
  width: 2.5rem;
}

.header {
  height: 88vh;
  background: linear-gradient(rgba(0, 0, 0, 0.22), rgba(0, 0, 0, 0.22)), url("../../images/spikeball-header.png");
  background-size: cover;
  background-position: center;
}
.header__heading {
  float: right;
  margin: 35rem 5rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__heading h1 {
  font-size: 4rem;
  text-align: right;
  background-color: #000;
  color: #fff;
  margin: 0.5rem 0;
  letter-spacing: 0.33rem;
  padding: 0 0.5rem;
}
.header__button {
  display: flex;
  height: 5rem;
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 3rem;
}
.header__button span:first-child {
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
}
.header__button span:last-child {
  height: 100%;
  background-color: #F0E50A;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
}
.header__button img {
  height: 2rem;
}

.ourMission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ourMission h1 {
  width: 80rem;
  text-align: center;
  margin-top: 7rem;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 4.4rem;
}
.ourMission a {
  display: inline-block;
  margin: 1rem 0 7rem;
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  font-weight: 500;
  padding-bottom: 0.3rem;
  border-bottom: solid 0.2rem #F0E50A;
}

.basics {
  height: 55rem;
  width: 150rem;
  max-width: 100%;
  margin: 0 auto;
  background: url("../../images/spikeball-basics.png");
  background-position: center;
  background-size: cover;
  padding: 0.1rem;
}
.basics__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-items: flex-start;
  margin: 20rem 0 0 12rem;
}
.basics__info h1 {
  font-size: 4rem;
  color: #fff;
  background-color: #000;
  padding: 0 0.5rem;
  margin-bottom: 2rem;
}
.basics__info a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.basics__info img {
  width: 3rem;
  margin-right: 1rem;
}
.basics__info span {
  color: white;
  font-size: 1.7rem;
  border-bottom: 0.2rem solid #F0E50A;
  padding-bottom: 0.3rem;
  letter-spacing: 0.1rem;
}

.community__list {
  width: 135rem;
  margin: 10rem auto 10rem;
  display: flex;
}
.community__item {
  flex: 1;
  position: relative;
  margin-right: 2rem;
}
.community__itemInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #F8F8F8;
  height: 15rem;
  width: 35rem;
}
.community__itemInfo h1 {
  font-size: 3.5rem;
  font-weight: bolder;
  margin-left: 4rem;
  margin-bottom: 1rem;
  margin: 3rem 0 1.5rem 4rem;
}
.community__itemInfo a {
  text-decoration: none;
  border-bottom: solid 0.2rem #F0E50A;
  padding-bottom: 0.33rem;
  color: #000;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin-left: 4rem;
}
.community__item img {
  width: 100%;
  height: 100%;
}
.community__aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;
}
.community__asideItem {
  display: flex;
}
.community__asideItem img {
  width: 50%;
}
.community__asideItemInfo {
  flex: 1;
  background-color: #F8F8F8;
}
.community__asideItemInfo h1 {
  font-size: 3.5rem;
  font-weight: bolder;
  margin: 4.5rem 0 1.5rem 4rem;
}
.community__asideItemInfo a {
  text-decoration: none;
  border-bottom: solid 0.2rem #F0E50A;
  padding-bottom: 0.33rem;
  color: #000;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin-left: 4rem;
}
.community__asideItemInfo:last-child h1 {
  margin-top: 2.7rem;
}

.bestSellers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.bestSellers h1 {
  font-size: 4rem;
  font-weight: bolder;
  margin: 3.3rem 0 1.5rem;
}
.bestSellers a {
  text-decoration: none;
  border-bottom: solid 0.2rem #F0E50A;
  padding-bottom: 0.33rem;
  color: #000;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
.bestSellers__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 120rem;
  padding: 0;
  list-style: none;
  margin: 5rem auto 8rem;
}
.bestSellers__listItem {
  width: 30%;
}
.bestSellers__listItem img {
  width: 100%;
  height: 35rem;
}
.bestSellers__listItem span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bestSellers__listItem h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 1.5rem 0 2.5rem;
}
.bestSellers__listItem a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  border: 0.2rem solid #000;
  transition: all 0.15s;
}
.bestSellers__listItem a:hover {
  background-color: inherit;
  color: #000;
}

.givingBack {
  height: 65rem;
  width: 150rem;
  max-width: 100%;
  margin: 0 auto;
  background: url("../../images/kids-spikeball.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.givingBack h5 {
  color: #fff;
  margin: 20rem 0 0;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}
.givingBack h1 {
  color: #fff;
  text-align: center;
  margin: 2.5rem 0 1.5rem;
  font-size: 3.5rem;
}
.givingBack p {
  color: #fff;
  opacity: 0.9;
  font-size: 1.8rem;
  line-height: 2.9rem;
  width: 50rem;
  text-align: center;
  font-weight: 300;
  margin: 0;
}

.quotes {
  width: 70rem;
  margin: 5rem auto 0;
  padding-bottom: 7rem;
}
.quotes h1 {
  text-align: center;
  font-size: 4rem;
  font-size: bolder;
  margin-top: 6.6rem;
}
.quotes span {
  text-align: center;
  display: block;
  margin: 3.5rem auto 1.7rem;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
}
.quotes__nav img {
  width: 12rem;
  margin: 0 0.7rem;
}
.quotes .prevButton, .quotes .nextButton {
  width: 2rem;
  position: absolute;
}
.quotes .prevButton {
  top: 4rem;
  left: -5rem;
}
.quotes .nextButton {
  top: 4rem;
  right: -5rem;
}
.quotes .prevButton:hover, .quotes .nextButton:hover {
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
