.ourTeam {
    border: .1rem solid $black;
    border-radius: .3rem;
    @include displayFlex(column, center, flex-start);
    margin-top: 2.5rem;
    width: 100%;
    padding-bottom: 4rem;

    &__header {
        height: 5rem;
        background-color: #222;
        width: 100%;
        margin-bottom: 0;

        h2 {
            color: $yellow;
            font-size: 2rem;
            font-weight: 400;
            border-bottom: .1rem solid $yellow;
            width: 95%;
            margin: 1rem auto 0;
            text-align: center;
            padding-bottom: .5rem;
        }
    }

    img {
        width: 100%;
    }

    &__list {
        @include displayFlex(row, flex-start, space-between);
        flex-wrap: wrap;
        padding: 0;
        list-style: none;
        width: 95%;
        margin: 0 auto;
    }

    &__listItem {
        width: 48%;
        @include displayFlex(column, center, flex-start);
        border-bottom: .1rem solid lighten($black, 75%);
        margin-top: 3.3rem;

        img {
            width: 50%;
        }

        h3 {
            font-size: 2.2rem;
            margin-bottom: 1rem;
        }
    }
}