.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    height: 7rem;
    box-shadow: 0px 0px 15px 0px rgba(167,167,167,1);

    &__logo {
        height: 3.77rem;
        margin-left: 3rem;
    }

    &__mainList {
        @include displayFlex(row, center, center);
        list-style: none;
        padding: 0;
        height: 100%;

        &Item {
            margin: 0 .2rem;
            width: 8rem;
            height: 100%;
            @include displayFlex(row, center, center);

            .navLink {
                text-decoration: none;
                color: $black;
                font-size: 1.8rem;
                font-weight: 400;
                padding-bottom: .33rem;
                border-bottom: .2rem solid transparent;
            }
        }

        &Item:hover {
            .navLink {
                border-bottom: .2rem solid $black;
                cursor: pointer;
            }
        }
    }

    &__secondaryList {
        @include displayFlex(row, center, center);
        list-style: none;
        height: 100%;
        padding: 0;

        &Item {
            margin: 0;
            width: 7.5rem;
            height: 100%;
            border-left: .1rem solid lightgrey;
            @include displayFlex(row, center, center);

            a {
                @include displayFlex(row, center, center);
                height: 100%;
                width: 100%;
                transition: all .15s;
            }

            img {
                width: 2rem;
            }

            a:hover {
                background-color: darken($white, 3%);
            }
        }
    }
}

//searchbar dropdown styles
.searchbar {
    width: 100%;
    background-color: $black;
    position: fixed;
    z-index: 101;
    top: 7rem;
    border: none;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    height: 7rem;
    color: $white;
    visibility: hidden;
}

::placeholder {
    color: $white;
}

//shop downdown styles
.shopButton:hover .shop__dropdown {
    display: flex;
}

.shop__dropdown {
    position: fixed;
    top: 7rem;
    @include displayFlex(row, flex-start, center);
    background-color: $white;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    box-shadow: 0px 5px 9px 1px rgba(190,190,194,1);

    .info {
        width: 35rem;

        h3 {
            margin: 6rem 0 2.5rem 5rem;
            font-size: 1.3rem;
            opacity: .65;
            letter-spacing: .2rem;
            font-weight: 400;
        }

        &__list {
            padding: 0;
            list-style: none;
            margin-left: 5rem;

            &Item {
                margin: 1.5rem 0;

                a {
                    text-decoration: none;
                    font-size: 2.3rem;
                    color: $black;
                    opacity: .85;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .image {
        background-color: lighten(lightgrey, 10%);
        height: 100%;
        width: 40rem;
        @include displayFlex(column, center, center);

        .wrapper {
            width: 85%;
        }

        img {
            width: 100%;
            height: 35rem;
            margin-top: 3.3rem;
        }

        h3 {
            color: #777;
            font-weight: 400;
            font-size: 1.3rem;
            margin: 1.5rem 0 0;
        }

        a {
            text-decoration: none;
            color: $black;
            display: inline-block;
            font-size: 1.9rem;
            margin: .75rem 0 4rem;
            border-bottom: .1rem solid transparent;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

//learn dropdown styles
.learnButton:hover .learn__dropdown {
    display: flex;
}

.learn__dropdown {
    position: fixed;
    top: 7rem;
    @include displayFlex(row, flex-start, center);
    background-color: $white;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    box-shadow: 0px 5px 9px 1px rgba(190,190,194,1);

    .info {
        width: 35rem;

        h3 {
            margin: 6rem 0 2.5rem 5rem;
            font-size: 1.3rem;
            opacity: .65;
            letter-spacing: .2rem;
            font-weight: 400;
        }

        &__list {
            padding: 0;
            list-style: none;
            margin-left: 5rem;

            &Item {
                margin: 1.5rem 0;

                a {
                    text-decoration: none;
                    font-size: 2.3rem;
                    color: $black;
                    opacity: .85;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .image {
        background-color: lighten(lightgrey, 10%);
        height: 100%;
        width: 40rem;
        @include displayFlex(row, center, center);

        .wrapper {
            width: 85%;
        }

        img {
            width: 100%;
            height: 35rem;
            margin-top: 3.3rem;
        }

        h3 {
            color: #777;
            font-weight: 400;
            font-size: 1.3rem;
            margin: 1.5rem 0 0;
        }

        a {
            text-decoration: none;
            color: $black;
            display: inline-block;
            font-size: 1.9rem;
            margin: .75rem 0 4rem;
            border-bottom: .1rem solid transparent;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .image:last-child {
        border-left: .1rem solid lightgray;
    }
}

//play dropdown styles
.playButton:hover .play__dropdown {
    display: flex;
}

.play__dropdown {
    position: fixed;
    top: 7rem;
    @include displayFlex(row, flex-start, center);
    background-color: $white;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    box-shadow: 0px 5px 9px 1px rgba(190,190,194,1);

    .info {
        width: 35rem;

        h3 {
            margin: 6rem 0 2.5rem 5rem;
            font-size: 1.3rem;
            opacity: .65;
            letter-spacing: .2rem;
            font-weight: 400;
        }

        &__list {
            padding: 0;
            list-style: none;
            margin-left: 5rem;

            &Item {
                margin: 1.5rem 0;

                a {
                    text-decoration: none;
                    font-size: 2.3rem;
                    color: $black;
                    opacity: .85;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .image {
        background-color: lighten(lightgrey, 10%);
        height: 100%;
        width: 40rem;
        @include displayFlex(row, center, center);

        .wrapper {
            width: 85%
        }

        img {
            width: 100%;
            height: 35rem;
            margin-top: 3.3rem;
        }

        h3 {
            color: #777;
            font-weight: 400;
            font-size: 1.3rem;
            margin: 1.5rem 0 0;
        }

        a {
            text-decoration: none;
            color: $black;
            display: inline-block;
            font-size: 1.9rem;
            margin: .75rem 0 4rem;
            border-bottom: .1rem solid transparent;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .image:last-child {
        border-left: .1rem solid lightgray;
    }
}

//about downdown styles
.aboutButton:hover .about__dropdown {
    display: flex;
}

.about__dropdown {
    position: fixed;
    top: 7rem;
    @include displayFlex(row, flex-start, center);
    background-color: $white;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    box-shadow: 0px 5px 9px 1px rgba(190,190,194,1);

    .info {
        width: 35rem;

        h3 {
            margin: 6rem 0 2.5rem 5rem;
            font-size: 1.3rem;
            opacity: .65;
            letter-spacing: .2rem;
            font-weight: 400;
        }

        &__list {
            padding: 0;
            list-style: none;
            margin-left: 5rem;

            &Item {
                margin: 1.5rem 0;

                a {
                    text-decoration: none;
                    font-size: 2.3rem;
                    color: $black;
                    opacity: .85;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .image {
        background-color: lighten(lightgrey, 10%);
        height: 100%;
        width: 40rem;
        @include displayFlex(row, center, center);

        .wrapper {
            width: 85%;
        }

        img {
            width: 100%;
            height: 35rem;
            margin-top: 3.3rem;
        }

        h3 {
            color: #777;
            font-weight: 400;
            font-size: 1.3rem;
            margin: 1.5rem 0 0;
        }

        a {
            text-decoration: none;
            color: $black;
            display: inline-block;
            font-size: 1.9rem;
            margin: .75rem 0 4rem;
            border-bottom: .1rem solid transparent;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}