.quotes {
    width: 70rem;
    margin: 5rem auto 0;
    padding-bottom: 7rem;

    h1 {
        text-align: center;
        font-size: 4rem;
        font-size: bolder;
        margin-top: 6.6rem;
    }

    span {
        text-align: center;
        display: block;
        margin: 3.5rem auto 1.7rem;
        font-size: 2.2rem;
        letter-spacing: .1rem;
        font-weight: 400;
    }

    &__nav {
        img {
            width: 12rem;
            margin: 0 .7rem;
        }
    }

    .prevButton, .nextButton {
        width: 2rem;
        position: absolute;
    }

    .prevButton {
        top: 4rem;
        left: -5rem;
    }

    .nextButton {
        top: 4rem;
        right: -5rem;
    }

    .prevButton:hover, .nextButton:hover {
        cursor: pointer;
    }
}